## Ignore dev folder
.vscode
.idea

## Ignore installed composer stuff
vendor/
composer.lock

## Ignore the constants file
includes/constants.php

# Ignore the content of the data folter
data/*.data

# Ignore the content of the log folter
logs/*.log

# Tooling caches
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache
